* {
    font-family: "Liga SFMono Nerd Font";
    font-size: 14px;
}

window#waybar {
    background-color: transparent;
}

#workspaces{
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 25px;
}
#workspaces button{
    box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
    background-color: #161616 ;
    border-radius: 55px;
    margin-right: 10px;
    padding-right: 15px;
    padding-left : 15px;
    font-weight: bolder;
    color: 	#ffffff ;
}

#workspaces button.active{
    color: #ee5396;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#custom-expand,
#custom-media,
#mpd {
    padding: 0 15px;
    border-radius: 55px;
    background-color: #161616;
    color: 	#ffffff;
    box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-weight : bolder
}

#custom-dunst {
    padding: 0 20px;
    border-radius: 55px;
    background-color: #161616;
    color: 	#ffffff;
    box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
}
