.bar_class { 
    background-color: $background-bar;
    border-radius: 16px;
    margin: 10px 15px 15px 15px;
    padding: 4px;
    box-shadow: 0 6px 5px 2px $shadow;
}

.module {
    margin: 0px 0px 0px 0px;
    border-radius: 10px 10px 0px 10px;
}

.side {
    background-color: $background;
    border-width: 0px;
    padding: 15px 15px 15px 15px;
    border-radius: 16px;
    margin: 65px 15px 15px 15px;
    box-shadow: 0 6px 5px 2px $shadow;
}

.center_modules {
    margin: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

/** Widgets **/

.clock_time_class,
.clock_minute_class {
    font-size: 14;
}

.clock_date_class {
    font-size: 14;
    margin: 0px 20px -2px -1px;
    color: $white;
    font-weight: bold;
}

.clock_time_class {
    color: $white;
    font-weight: bold;
    margin: 2px 10px 0px 2px;
}

.volbar trough highlight {
    background-image: linear-gradient(to right, $teal 30%, $green 50%, $teal 100% *50);
    border-radius: 10px;
}

.volume_icon {
    font-size: 16;
    color: $white;
    margin: 0px 10px 0px 5px;
}

.module_essid {
    font-family: Liga SFMono Nerd Font;
    font-size: 14;
    font-weight: bold;
    color: $white;
    margin: 0px 0px 0px 5px;
}

.module-wif {
    font-size: 16;
    color: $white;
    margin: 0px 15px 0px 5px;
}

.separ {
    color: $red;
    font-weight: bold;
    font-size: 18px;
    margin: 0px 8px 0px 8px;
}

.works {
    font-size: 18px;
    font-weight: normal;
    background-color: rgba(00, 00, 00, 0.0);
}

.ws-btn{
    margin: 0px 7px 0px 0px;
}

.0,
.01,
.02,
.03,
.04,
.05,
.06,
.011,
.022,
.033,
.044,
.055,
.066 {
}

/* Unoccupied */
.0 {
    color: $grey;
}

/* Occupied */
.01,
.02,
.03,
.04,
.05,
.06,
.07,
.08,
.09, 
{
    color: $white;
}

/* Focused */
.011,
.022,
.033,
.044,
.055,
.066,
.077,
.088,
.099,
{
    color: $blue;
}


// Calendar
.cal {
    background-color: $background;
    font-family: Liga SFMono Nerd Font;
    font-size: 14px;
    font-weight: normal;
    border-radius: 25px;

    .cal-in {
        padding: 10px 10px 10px 10px;
        color: $white;

        .cal {
            &.highlight {
                padding: 20px;
            }

            padding: 10px 10px 10px 10px;
            margin-left: 10px;
        }
    }
}

calendar {
    color: $red;
}

calendar:selected {
    color: $red;
}

calendar.header {
    font-family: JetBrainsMono Nerd Font;
    color: $purple;
    font-weight: bold;
}

calendar.button {
    color: $purple;
    font-weight: bold;
}

calendar.highlight {
    color: $red;
    font-weight: bold;
}

calendar:indeterminate {
    color: $black;
}

.app-name {
    color: $white;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0px 12px 0px;
}

.app-icon {
    margin: 8px 10px 0px 0px;
}

scale trough {
    all: unset;
    background-color: $widget-background;
    box-shadow: 0 2px 3px 2px $shadow;
    border-radius: 16px;
    min-height: 10px;
    min-width: 70px;
    margin: 0px 5px 0px 10px;
}

.scale highlight {
    background-image: linear-gradient(to right, $red 30%, $purple 50%, $red 100% *50);
    border-radius: 15px;
}
