$background-bar: rgba(11, 10, 16, 1);
$background: rgba(11, 10, 16, 1);
$widget-background: rgba(17, 16, 25, 1);
$shadow: rgba(0, 0, 0, 0.3);
$grey: rgba(105, 101, 124, 0.7);

$black:   #161616;
$red:     #ee5396; // #F37F97;
$green:   #42be65; // #5ADECD;
$yellow:  #f2f4f8; // #F2A272;
$orange:  #dde1e6; // #F2A272;
$blue:    #82cfff; // #BAB4D9; //#8897F4;
$purple:  #be95ff; // #C574DD;
$purple2: #ff7eb6; // #C574DD;
$teal:    #3ddbd9; // #79E6F3;
$white:   #ffffff; // #FDFDFD;

$primary:   #ff7eb6; // #F37F97;
$secondary: #42be65; // #F37F97;
$tertiary:  #dde1e6;
