* {
    font-family: "Liga SFMono Nerd Font";
    font-size: 14px;
}

window#waybar {
    background-color: #161616;
}

#workspaces{
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 25px;
}
#workspaces button{
    background-color: transparent;
    border-radius: 55px;
    margin-right: 10px;
    padding-right: 15px;
    padding-left : 15px;
    font-weight: bolder;
    color: 	#ffffff ;
}

#workspaces button.active{
    color: #ee5396;
}

#clock,
#memory,
#network,
#tray,
#mpd {
    background-color: transparent;
    padding: 0 15px;
    color: 	#ffffff;
    font-weight : bolder;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 55px;
}
